body {
	background-color: #020202;
	width: 100vw;
	height: 100vh;
	padding: 5em;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.button {
	margin: auto
}

.wordpress {
	background-color: #BB86fc;
}

.phpmyadmin {
	background-color: #03dac6;
}
